<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @host.name %>
</p>

<p>
  <strong>Domain:</strong>
  <%= @host.domain %>
</p>

<p>
  <strong>Active:</strong>
  <%= @host.active %>
</p>

<p>
  <strong>Tier:</strong>
  <%= @host.tier %>
</p>

<%= link_to 'Edit', edit_host_path(@host) %> |
<%= link_to 'Back', hosts_path %>
