<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @campaign.name %>
</p>

<p>
  <strong>References:</strong>
  <%= @campaign.references %>
</p>

<p>
  <strong>Clicks:</strong>
  <%= @campaign.clicks %>
</p>

<p>
  <strong>Views:</strong>
  <%= @campaign.views %>
</p>

<%= link_to 'Edit', edit_campaign_path(@campaign) %> |
<%= link_to 'Back', campaigns_path %>
